# ยกเว้นไฟล์และโฟลเดอร์ที่ไม่ต้องการอัปโหลด

# ไฟล์ที่เกี่ยวข้องกับระบบปฏิบัติการ
.DS_Store
Thumbs.db

# ไฟล์และโฟลเดอร์ของ VS Code
.vscode/
*.code-workspace

# โฟลเดอร์ build
build/

# โฟลเดอร์ build
Debug/

# ไฟล์ไบนารี
*.bin
*.hex

# ไฟล์ที่สร้างจาก Arduino IDE
*.elf
*.eep

# ข้อมูลการคอมไพล์ชั่วคราว
*.tmp
*.log